node_modules
dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.DS_Store

target
babel-plugin-jsx-dom-expressions

