{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "simple-import-sort", "@idealjs/reactive"],
  "rules": {
    "quotes": "warn",
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "@idealjs/reactive/no-nested-derive-call": "error",
    "@idealjs/reactive/no-state-created-in-derive": "error",
    "@typescript-eslint/no-unused-vars": "off"
  }
}
